{% extends 'base-template.html' %}

{% block meta-title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="article">
    <h1>{{ object.title }}</h1>
    <hr/>
    <div class="body">{{ object.body }}</div>
    {% if object.tags %}
    <div class="tags">Tags: 
        {% for tag in object.tags.all %}
        <a href="{% url 'tag-selection' tag.slug %}" class="tag small-tag"><span class="tagname">{{ tag.name }}</span></a>
        {% endfor %}
    </div>
    {% endif %}
    <p class="date-info"><em>Created: {{ object.created }}{% if object.updated %} | Last edited: {{ object.updated }}{% endif %}</em></p>
</div>
{% endblock %}